body {
  text-align: center;
}

canvas {
  background-color: grey;
}

h1 {
  color: #003EB2;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h1 span {
  color: #FF3C19;
}

h2 {
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  letter-spacing: 3px;
  position: absolute;
  right: 15px;
  top: 15px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}

header {
  margin: 35px;
}

#start-game, #game-over, #you-win {
  height: 400px;
  width: 600px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 99;
}

#game-over {
  visibility: hidden;
}

#you-win {
  background-image: url(../IMGS/winner.jpg);
  visibility: hidden;
}

#start-game-text, #game-over-text, #you-win-text {
  margin-top: 30%;
}

#you-win-text {
  color: #FFF;
}

#game-wrapper {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

#canvas {
  background-image: url(../IMGS/background.jpg);
}
