body {
  text-align: center;
}

canvas {
  background-color: grey;
}

h1 {
  color: #003EB2;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h1 span {
  color: #FF3C19;
}

h2 {
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}

header {
  margin: 35px;
}

#game-over {
  height: 400px;
  width: 600px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#game-over-text {
  margin-top: 30%;
}

#game-wrapper {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
